.allPrivacyPolicy{
    text-align: left;
    padding: 2%;
}
.PPHeadFontSize{
    font-size: 1.8rem;
}
.privacyPolicyHeading{
    /* text-align: center; */
    font-size: xx-large;
    font-weight: bold;
    /* font-size: 320%; */
}

.allExceptHeading{
    font-size: small;
}

.firstHeading{
    font-size: xx-large;
    font-weight: bold;
    padding: 3% 0%;
}

.para{
    padding: 2% 0%;
    font-size: xx-large;
}

.insideButton{
    font-size: xx-large;
}

.PrivacyPolicyBox{
    margin: 4%;
    margin-top: 6%;
    line-height: var(--bs-body-line-height);
    font-size: var(--small) !important;
}

.PPBox{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.PrivacyTextBox{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.PPFontSize{
    font-size: 1rem;
}
.List{
    /* margin-left: 2%; */
    margin-top: -28px;
    list-style-type: disc;
    /* line-height: 0.4; */
}
.privacyPolicyHead{
    font-size: 1.5rem;
    margin-bottom: 15px;
}
@media(max-width: 498px){
    .PPFontSize{
               /* 5/3 atart */
        /* font-size: 2.5rem; */
        /* font-size: 5.8rem; */
        /* padding-bottom: 5% !important; */
    }
    .PPFontSize p{
      text-align: justify;
    }
    /* .PPHeadFontSize{
        font-size: 3rem !important;
    } */
        /* .PrivacyTextBox{
            font-size: 4.6rem !important;
        } */
    .PrivacyPolicyBox {
        margin-top: 12%;
    }
   
}




:root {
    --MainHeading:26px;
    --subHeading:24px;
    --ScndHeading:20px;
    --Heading:18px;
    --small:16px;
   }