:root {
    --MainHeading:26px;
    --subHeading:24px;
    --ScndHeading:20px;
    --Heading:18px;
    --small:16px;
   }

/* Start AllCourseWOL CSS */
.HeadimgBox{
    margin-top: 4.5%;
}
.CoursesCardMainBox{
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
    margin: 50px;
    

}
.CradBox{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    padding: 18px 0px;
    justify-content: space-around;
    border-radius: 13px;
    
 box-shadow: 2px 3px 14px 3px #d3d3d3 !important;
}
.CardTextBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    text-align: left;
}
.Price_ButtonBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}
.PriceBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.CardHeading{
    font-size: 25px !important;
    font-weight: 700 !important;
}
.PopularCourseBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin-top: 24px;
}

.PopularCardBox{
    display: flex;
    flex-direction: column;
    text-align: left;
    /* border: 1px solid black; */
    padding: 13px 24px;
    /* justify-content: space-around; */
    border-radius: 13px;
    box-shadow: 2px 3px 14px 3px #d3d3d3 !important;
}
.PopularCourseMainBox{
    margin: 3% 6%;
}
.HeadingColor{
    font-size: 2rem;
    color: #24a28d;
    font-weight: 700;
}
.offBox{
    text-align: center;
    background-color: #24a28d;
    padding: 4px 6px;
    font-size: 0.8rem !important;
    border-radius: 10px;
    color: white;
}
.JoinContainer {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
  }
.Joincentered {
    background-color: white !important;
    color: #24a28d !important;
    padding: 22px 77px !important;
    position: absolute !important;
    top: 63% !important;
    left: 49.5% !important;
    transform: translate(-50%, -50%) !important;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    border-radius: 10px !important;
  }
  .Para1{
    font-weight: 700;
    font-size: 1rem ;
  }
  .Para2{
    font-weight: 400 ;
    font-size: 0.8rem;
  }
  .CoursesCardImg{
    width: 24%;
    height: 20vh;
  }
/* End AllCourseWOL CSS */
@media (max-width: 860px) {
    .PopularCourseBox{
        background-color: #24a28d;
    }
    .PopularCardBox {
        padding: 12px 19px;
        width: 90%;
    }
}