:root {
  --MainHeading: 26px;
  --subHeading: 24px;
  --ScndHeading: 20px;
  --Heading: 18px;
  --small: 16px;
}
.HeadimgBox {
  margin-top: 4.5%;
}
.CoursesCardMainBox {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  margin-top: 10%;
  padding: 0px 55px;
}
.ExploreButton {
    background-color: #002c4f !important;
  }
.CradBox {
  display: flex;
  flex-direction: row;
  padding: 18px 0px;
  justify-content: space-around;
  border-radius: 13px;

  box-shadow: 2px 3px 14px 3px #d3d3d3 !important;
}
.CardBoxImg{
  width: 25% !important;
}
.CardTextBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 68%;
  text-align: left;
}
.Cardimgs {
    width: 450px;
    height: 225px;
}
.Price_ButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
.PriceBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.CardHeading {
  font-size: 25px !important;
  font-weight: 700 !important;
  overflow: hidden  !important;
  text-overflow: ellipsis !important;
  max-width: 70ch !important;
}
.Subscribe {
  display: none;
}
.JoinNow {
  display: block;
}
.MobileViewImg {
  display: none;
}
.WebViewImg {
  display: block;
}
.PopularCourseBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 7%;
}

.PopularCardBox {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px 15px;
  border-radius: 13px;
  box-shadow: 2px 3px 14px 3px #d3d3d3 !important;
}
.PopularCourseMainBox {
  margin:28px;
}
.HeadingColor {
  font-size: 2rem;
  color: #24a28d;
  font-weight: 700;
}
.offBox {
  text-align: center;
  background-color: #24a28d;
  padding: 4px 6px;
  font-size: 0.8rem !important;
  border-radius: 10px;
  color: white;
}
.JoinContainer {
  height: 50vh;
  background-color: #002c4f;
  color: white;
}
.Joincentered {
  background-color: white !important;
  color: #24a28d !important;
  padding: 10px 50px !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  border-radius: 10px !important;
}
.JoinHeading {
  padding-top: 6%;
  font-size: 4rem !important;
}
.Para1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 31.47px;
    text-align: left;
    
}
.Para2 {
  font-weight: 400;
  font-size: 0.8rem;
}
.CoursesCardImg {
  border-radius: 10px;
  width: 100%;
  height: 23vh;
}
.wrap-text-50 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 19ch;
  color: #918d8d;
  font-size: 0.9rem !important;
}
.wrap-text-testimonial {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #918d8d;
  font-size: 0.9rem !important;
  text-align: left;
  margin-top: 2% !important;
}
.author{
  color: #918d8d;
  font-size: 0.9rem !important;
  text-align: left;
  margin-top: 5% !important;
}

/* COursesDescription css start */
.CDMainBox{    
  background-color: #f5f5f5;
  padding: 30px 70px;
}
.CourseDetailsHead{
  /* font-family: Inter !important; */
font-size: 44px !important;
font-weight: 700 !important;
line-height: 53.25px !important;
text-align: left !important;

}
.CourseDetails{
  margin-top: 5px;
  list-style: disc;
  margin-left: 30px;
  color: grey;
  /* font-family: Inter; */
font-size: 22px !important;
font-weight: 500 !important;
/* line-height: 26.63px !important; */
text-align: left;

}
.FacultiesBox{
  padding: 30px 70px;
}
.OurfacultiesmobileView{
  display: none;
}
.FacultiesName{
  font-family: Inter;
font-size: 28px !important;
font-weight: 700 !important;
line-height: 33.89px !important;
text-align: left !important;
color:  #21A08C;
}
.FacultiesDetails{
  font-family: Inter;
font-size: 11px !important;
font-weight: 500 !important;
line-height: 13.31px !important;
text-align: justified !important;
margin-top: 5px !important ;
margin-left: 2px !important;
color: #5D5D5D;
}
.KnowNowBtn{
  width: 148px !important;
  height: 36px !important;
  border-radius: 50px !important;
 background-color: #21A08C !important;
  }
  .GetsearchBarBox{
    width: 588px;
  }
  .FacultiesBoxHeading{
    font-family: Inter;
font-size: 44px !important;
font-weight: 700 !important;
line-height: 53.25px !important;
text-align: left;

  }
.FaculriesImg{
    width: 125px !important;
height: 125px !important;
border-radius: 102px !important;
margin-top: 5%;
  }
.FacultiesCardBox{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.NameBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
}
  .FacultiesDetailsBox{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    width: 561px;
height: 183px;
border-radius: 20px;
box-shadow: 0px 0px 15px 0px #00000040;
padding: 10px 10px;
  }
  
  .TBIMainBox{
    margin-top: 3%;
    padding: 30px 70px;
  }
  .BatchDetails{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    padding: 20px 30px;
    background-color: #16B6FF0F;
  }
  .BatchDetails ol {
    padding: 0 20px;
  }
  .BatchDetails li{
font-size: 26px !important;
font-weight: 400 !important;
/* line-height: 31.47px !important; */
text-align: left !important;
color: #000000B2;
  }
  .OredrlistBox{
    width: 60%;
  }
  .FAQMainBox{
    padding: 30px 70px;
  }
  .FAQDetails{
    list-style: disc !important;
    margin-top: 1%;
    padding: 20px 30px;
    background-color: #16B6FF0F;
  }
  .GetAccessBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 70px;
    padding: 50px 6px 0 37px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px #00000040;
  }
  .juduwaimg{
    width: 710px !important;
height: 386px !important;
  }
  .FreeCourseC0lor{
    color: #21A08C;
  }
  .FreeCoursesText{
    font-family: Inter;
font-size: 60px !important;
font-weight: 700 !important;
line-height: 72.61px;
text-align: left;
color: #585858;
  }
  .QualityMaterial{
font-size: 22px !important;
font-weight: 500 !important;
line-height: 26.63px !important;
text-align: left  ;
color: #585858;

  }
  .ChevronRightIcon{
    background-color: #21A08C;
    color: wheat;
    border-radius: 100px;
  }
  .GetAccessLeftSide{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
  }
  .multipleValidity-bothBox{
    
  }
  .EDICImg{
    width: 405px;
    /* height: 334px; */
  }
  .BuyNowCardBox{
    display: flex;
    flex-direction: column;
    width: 32%;
    margin: -160px -23px;
  }
  .MobileBuyNowCardBox{
    display: none;
  }
  .BuyNowCardButton{
 width: 100%;
 margin-top: 2% !important;
  }
  .StickyBOx{
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.352) !important;
    border-radius: 5px;
    padding: 10px 8px;
  }
  .CompanyBox{
    display: none;
  }
/* COursesDescription css end */

@media (max-width: 490px) {
  .BuyNowCardBox{
    display: none;
 }
  .MobileBuyNowCardBox{
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .EDICImg{
    width: 100% !important;
  }
  .CDMainBox {
padding: 20px 20px;
margin-top: 10% !important;
  }
  .CourseDetailsHead{
    font-size: 18px !important;
    line-height: 15px !important;
  }
  .CourseDetails{
    font-size: 13px !important;
    margin-left: 17px !important;
  }
  .TBIMainBox{
    padding: 0;
    margin-top: 10%;
  }
  .marginmobile{
    margin-left: 3% !important;
  }
  .OredrlistBox{
    width: 100% !important;
  }
  .BatchDetails{
    margin-top: 5%;
  }
.BatchDetails li{
  font-size: 13px !important;
}
.BatchDetails ol{
  padding: 0;
}
.FAQMainBox{
  margin-top: 10%;
  padding: 0;
}
.FAQDetails {
  margin-top: 5%;
  padding: 10px 11px;
}
.GetAccessBox {
  margin: 40px 10px;
  padding: 10px;
  height: 46vh;
}
.GetsearchBarBox{
  width: 100% !important;
}
  .juduwaimg{
    display: none;
  }
  .FacultiesBox{
    display: none;
  }
  .FreeCoursesText {
    font-size: 33px !important;
    text-align: center !important;
  }
  .QualityMaterial{
    text-align: center;
    font-size: 12px !important;
    font-weight: 600 !important;
  }
  /* .GetAccessBox{
    display: none;
  } */
  .whatsapp-icon-container{
    bottom: 15px !important;
    right: 15px !important;
  }
  .menuText{
    font-size: 1.3rem !important;
  }
  .PopularCourseBox {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 60px;
    margin-top: 25%;
  }
  .PopularCourseMainBox {
    margin: 10px 20px;
  }
  .PopularCardBox {
    width: 100%;
    padding: 6px 10px;
  }
  .CoursesCardMainBox {
    margin: 70px 10px;
    gap: 35px;
    padding: 0;
  }
  .Price_ButtonBox {
    flex-direction: column;
    text-align: center;
    margin-top: 3%;
  }
  .PriceBox {
    margin-top: 1%;
  }
  .CardTextBox {
    width: 100%;
    margin-top: 2%;
  }
  .Cardimgs {
    width: 334px;
  }
  .CoursesCardImg {
    max-width: 100%;
    height: 24vh;
  }
  .CradBox {
    width: 69.5%;
    padding: 15px !important;
  }
  .CardBoxImg{
    width: 100% !important;
  }
  .ExploreButton {
    background-color: #002c4f !important;
    left: 58%;
    top: 37%;
    width: 42% !important;
  }
  .CardHeading {
    margin-top: 2% !important;
    font-size: 22px !important;
    line-height: 1.3 !important;
  }
  .Joincentered {
    background-color: white !important;
    color: #24a28d !important;
    padding: 2px 14px !important;
    font-weight: 600 !important;
    border-radius: 6px !important;
    margin-top: 5% !important;
  }
  .JoinContainer {
    padding: 20px 6px;
  }
  .JoinHeading {
    /* margin-top: 20% !important; */
    font-family: CustomFont !important;
    font-size: 4rem !important;
    line-height: 100px !important;
  }
  .Subscribe {
    display: block;
    border-radius: 30px !important;
  }
  .JoinNow {
    display: none;
  }
  .MobileViewImg {  
    display: none;
   width: 50%;
   height: 30vh;
  }
  .OurfacultiesmobileView{
    display: block;
  }
  /* .WebViewImg {
    display: none;
  } */
}
