body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.text-color-white {
  /* color: white; */
  /* color: red; */
  color: black;
  text-align: justify !important;
}
.center p{
  font-size: 1.2rem !important;
  margin-top: 3%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1500px;
  /* margin: auto; */
}
.Responsivelogo{
  display: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.BottomRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.margin {
  margin: 0 18px;
  border-radius: 6px;
}
.col {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.flexcol{
  display: flex;
  flex-direction: row;
}

.fontWidth {
  font-weight: 700;
}

.BR {
  padding: 1px 0;
  margin: 0 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.margin-left {
  margin-left: 8px;
}
.tw-bg {
color: #144fe4;
}
.In-bg {
color: rgb(228, 38, 54);
}
.fb-bg {
  background-color: white;
  color: #0675e8;
  margin: 3px 15px;
  padding: 0;
  font-weight: 10;
}
.FollowBox{
margin-top: 4%;
}
.br-bg {
  /* background-color: red; */
  color: red;
  margin: 3px 15px;
  padding: 0;
  font-weight: 10;
}
.center {
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif !important;
}
ul {
  list-style: none;
}
.footer {
  /* background-color:  black; */
  background-color:  white;
  padding: 70px 0;
}
.footer-col {
  width: 50%;
  padding: 0 1px;
}
.w50 {
  width: 50%;
}
.sp {
  padding: 10px 0;
}
/* .AppLogo{
  width: 100%;
  height: 40vh;
} */
.footer-col h4 {
  font-size: 18px;
  /* color: #ffffff; */
  color: black;
  /* text-transform: capitalize; */
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  margin-top: 1%;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  /* color: #ffffff; */
  text-decoration: none;
  font-weight: 300;
  /* color: #bbbbbb; */
  color: black;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  /* color: #ffffff; */
  color: Black;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  /* color: #ffffff; */
  color: Black;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #144fe4;
  background-color: #ffffff;
}
.colFooterUpper {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
  }
.footerline {
  width: 100%;
  background-color: white;
}
Link .text-decoraction-none {
  text-decoration: none;
}

/* PhoneTextcss */
.phoneTextField .MuiOutlinedInput-root{
  font-size: 20px !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.bg_color {
  background-color: black;
}
.AppLogo{
  border: solid 1px white;
}
/*responsive*/
@media (min-width: 700px) {
  .row {
    margin: 0 100px;
  }
  .BottomRow {
    margin: 0 100px;
  }
  .pad-line {
    margin: 0 100px;
  }
}
@media (max-width: 1110px) {
  .footer-col {
    width: 40%;
    padding: 0 1px;
    text-align: left;
  }
  .container {
    width: 90%;
  }
}
@media (max-width: 890px) {
  .footer-col {
    width: 45%;
    padding: 0 1px;
    text-align: left;
  }
  .container {
    width: 90%;
  }
  .row {
    justify-content: center;
  }
}
@media (max-width: 816px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .container {
    width: 90%;
  }
  .col {
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .footer-col {
    width: 100%;
  }
  .center {
    display: flex;
    flex-direction: column;
  }
  .colFooterUpper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .center p {
    font-size: 1.2em;
    text-align: left;
    margin-top: 3%;
  }
  .container {
    width: 90%;
  }
}


/* @media (max-width: 484px) {
  .leftTextDesign{
    font-size: 2rem !important;
  }
} */