body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: visible !important;
  font-family: "Inter" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.menuText {
  color: #000 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 600 !important;
  font-size: 1.8rem !important;
  
}
.Mui-focusVisible{
  border-color:#18568f !important;
}
.paddingDropdown{
  padding: 0px 12px !important;
  margin-top: 6px !important;
  color: black !important;
  margin-left: 66px !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.menuSize {
  width: 800px !important;
}
.allCoursesIcon {
  font-size: 1.6rem !important;
  font-weight: 400 !important;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}
html {
  overflow: auto !important;
}

code {
  font-family: "Inter" !important ;
}
.static {
  position: sticky !important;
  top: 0 !important;
}
.LoginButton {
  width: 30;
  height: 30;
  background-color: #002C4F !important;
}
.logo {
  width: 231px;
  height: 50px;
  margin-left: 18%;
}
.loginContainer {
  margin-right: 3%;
}
.loginContainerony{
  display: none;
}
.homeImage {
  width: 100%;
}
.homeImage img {
  transform-style: preserve-3d;
  height: auto !important;
  width: 100%;
  z-index: 78 !important;
  margin-top: 4%;
}
.cardHome {
  width: 79% !important;
  overflow: visible;
  height: 60%;
  display: flex;
  margin: auto;
  background-color: white;
  padding: 1%;
  border-radius: 25px 25px 25px 25px;
  /* transform: translateY(-28%); */
  flex-direction: row;
  box-shadow: 0px 0px 1px 1px #d3d3d3 !important;
  margin-top: 3% !important;
}

.appImage {
  /* float: right; */
  position: absolute;
  right: 0;
  margin-right: 14%;
  width: 17%;
    height: 32% !important;
}

.leftDesign {
  font-size: x-large !important;
  font-weight: 700 !important;
  width: 70%;
  height: 50%;
  text-align: left;
  margin-left: 5%;
}
.phoneTextField {
  width: 60%;
  margin-top: 1% !important;
  color: black !important;
  font-size: 1.2rem !important;
  
}

.storeLogo {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-bottom: 2%;
}
.appLogo {
  width: 120px;
  height: 36px;
}
.googleLogo {
  width: 120px;
  height: 36px;
  margin-left: 3%;
}
.secondHeading{
  font-size: 1.8rem !important;
}

.MuiInputBase-input-MuiOutlinedInput-input {
  color: #000 !important;
  font-size: 1.4rem !important;
}
.arrowIcon {
  transform: rotate(275deg);
  font-size: 1.4em !important;
  color: #000;
}
.phoneTextFieldStartIcon {
  color: #000 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  margin-top: 30% !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.leftSubDesign {
  font-weight: 500;
  font-size: 0.8em !important;
  color: black !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.leftTextDesign {
  font-size: 1em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif !important;
}

/* Testimonials css start */

.TestimonialsMain {
  margin-top: 33px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  /* padding-bottom: 2%; */
  padding: 30px 9px;
  background-color: rgb(25, 152, 132);;
}
.boxUnderHeading {
  width: 20%;
  margin-left: 40%;
  background-image:  linear-gradient(to right top, #199884, #008a91, #007b99, #006999, #18568f) !important;
}

.TestimonialsHeading{
  font-size: 1.6rem !important;
}
.Arrow2 {
  margin-left: 3% !important;
  font-size: 2.8rem !important;
  margin-top: 147px;
  color: #ffffff;
}
@media (max-width: 1280px) {
  .TestimonialsMain {
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
  }
  .TestimonialsCard {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    /* width: 85%; */
    /* height: 100% !important; */
  }
  .TestimonialsLeftCard {
    margin: 35px 17px;
    background-color: rgb(243 243 243);
    height: 34%;
    width: 45%;
    text-align: left;
    font-size: 0.9rem;
    padding: 0% 0;
  }
  .Arrow2 {
    margin-left: 10% !important;
  }

  .testimonialPara {
    font-size: xx-large;
    padding-bottom: 1%;
    height: 39vh;
    text-align: justify;
  }
}

.TestimonialsHeading {
  font-size: xx-large;
  margin-top: 2%;
}

.boxUnderHeading {
  width: 20%;
  margin-left: 40%;
  background-color:  linear-gradient(to right top, #199884, #008a91, #007b99, #006999, #18568f) !important;
}

.secondHeading {
  font-size: 1.7rem !important;
  margin-top: 1.5%;
 color: #ffffff;
    font-weight: bolder !important;
}

.theMasters {
  /* color: linear-gradient(90deg, #18568f 0%, #18568f 35%, #199884 100%) !important; */
  /* font-size: 72px; */
  font-weight: 600;
  background:  linear-gradient(90deg, #18568f 0%, #18568f 35%, #199884 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.TestimonialsCard {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}
.studentsSliderBoxes{
  display: flex;
  /* flex-direction: column !important; */
  /* margin: auto; */
  margin-left: 35px !important;
  justify-content: center;
}
.TestimonialsLeftCard {
  margin: 35px 36px;
  background-color: #ffffff;
  width: 45%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0% 0;
  border-radius: 10px !important;
  height: 43vh;
}

.testimonialPara {
  font-size: 0.9rem;
  padding-bottom: 1%;
  height: 22vh;
}

.names {
  font-size: 1rem;
  font-weight: 600;
}

.TestimonialsLeftCard p {
  margin: 36px 23px;
  
  font-family: Arial, Helvetica, sans-serif !important;
}
.TestimonialsLeftCard h3 {
  margin: 36px 23px;
}

.TestimonialsRightCard {
  background-color: grey;
  width: 50%;
}
.TestimonialsArrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Arrow1 img {
  width: 180px;
}
.Arrow2 img {
  width: 180px;
}

.Arrow1 {
  font-size: 2.8rem !important;
  margin-top: 147px;
  color: #ffffff;
}
.Arrow1:hover {
  /* color:#199884; */
  cursor: pointer;
}
.Arrow2:hover {
  /* color:#199884; */
  cursor: pointer;
}



/* Testimonials css End */

.cardBox {
  min-width: 50%;
  margin-left: 15%;
  box-shadow: 1px 1px 4px 2px #d3d3d3 !important;
  border-radius: 10px 10px 10px 10px;
  padding: 2%;
  margin-top: 3%;
}
.rowDesign {
  display: flex;
  flex-direction: row;
  width: 62%;
}
.subCatHead {
  font-weight: 500 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 1.1em !important;
  height: 60px !important;
}
.subCatSubHead {
  font-size: 0.7em !important;
  margin-top: 4px !important;
  color: #2683DA !important;
  border: solid white;
}

.catDrop .css-1spzyyw-MuiButtonBase-root-MuiMenuItem-root {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
}
.catDrop{
  padding: 2%;
}
.categoryMainBox {
  display: block;
  margin: auto;
  margin: 8px;
  margin-top: 5%;
}
.catHeading {
  margin-top: 2% !important;
  font-size: 2em !important;
  /* font-family: "Inter" !important; */
  /* font-family: Gilroy, "sans-serif" !important; */
  font-weight: bolder !important;
}
.cardBox .css-1spzyyw-MuiButtonBase-root-MuiMenuItem-root {
  padding: 4% !important;
}
.cardBox .css-1spzyyw-MuiButtonBase-root-MuiMenuItem-root:hover {
  box-shadow: 1px 1px 4px 2px #ecebeb !important;
  background-color: white !important;
  border-radius: 5px 5px 5px 5px;
}

.highlight {
  box-shadow: 1px 1px 4px 2px #ecebeb !important;
  background-color: white !important;
  border-radius: 5px 5px 5px 5px;
  color: #2683DA;
}
 
.subCatBox {
  margin-top: 3%;
  margin-left: 5%;
  width: 33%;
  min-width: 35% !important;
  height: 39%;
  background-color: #fff;
  box-shadow: 1px 1px 4px 2px #d3d3d3 !important;
  border-radius: 10px 10px 10px 10px;
  padding: 13px 22px;
  align-items: left;
  text-align: left;
}
.subMenuText1{
  font-size: 1rem !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.nestedMenu{
  font-size: 1rem !important;
  font-weight: 550 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #1B2124 !important;
  line-height: 1.5rem !important;
  --tw-text-opacity: 1;
}
/* .rightBoxCat {
  display: flex;
  flex-wrap: wrap;
<<<<<<< HEAD
  justify-content: center;
}
.SubCategoryBox{
=======
  min-width: 58vw;
} */
/* .SubCategoryBox{
>>>>>>> e8061e367094456d6d95f1d7a8c4d7f28a2b0ac9
  display: none;
} */
.SubBox{
  border-radius: 10px;
  box-shadow: 0px 0px 0px 3px #aaaaaa47 !important;
  margin-top: 4%;
  text-align: left;
  padding-top: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
  font-size: 2.3rem !important;
  line-height: 100px;
  height: 81%;
  display: flex;
  flex-direction: row;
}
.ShowButton{
  display: none;
  font-size: 2.3rem !important;
  color: #2683DA !important;
  font-family: Arial, Helvetica, sans-serif;

}
.SubBox{
  font-size: 2.3rem;
}
/* Analytics */

.analyticsBox {
  width: 100%;
  height: 60%;
  background-color: #18568f;
  color: white;
  padding: 3%;
  margin-top: 3% !important;
}
.anaTypo {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
}
.analyticsCount {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 2%;
}
.subTypo {
  font-size: 1.8em !important;
  margin-top: 1% !important;
}
.calCount {
  font-size: 2em !important;
  font-weight: 600;
}
.calMsg {
  font-size: 1.2em !important;
}

/* PlanDescription */
.planMainBox {
  margin-top: 5%;
  width: 100%;
}
.bottomLogoBox{
   box-shadow: 0px 1px 1px 1px #c8c6c6;
   border-bottom-left-radius: 53px;
   border-bottom-right-radius: 53px;
   width: 75%;
   margin-left: 12.5%;
    padding: 2%;
}
.planImgBottom{
  width: 20%;
}
.planImg {
  width: 75%;
  height: 62vh !important;
  border-top-left-radius: 53px;
  border-top-right-radius: 53px;
}
.planText {
  margin-top: 6%;
}
.planTextTypo {
  font-size: 1.8em !important;
  font-weight: 600 !important;
}
.imageNeet{
  width:75%;
  margin-top: 3%;
}
.planSubTextTypo {
  font-size: 1.2em !important;
  margin-top: 10px !important;
  /* font-family: "Inter" !important; */
  color:#199884 !important;
  font-family: Arial, Helvetica, sans-serif!important;
}

/* Live */
.liveBox {
  display: flex;
  width: 76%;
  margin: auto;
  padding: 2%;
  box-shadow: 1px 1px 4px 2px #d3d3d3 !important;
  border-radius: 25px 25px 25px 25px;
}
.liveFirst {
  width: 30%;
}
.liveText {
  color: #18568f !important;
  /* font-family: "Inter" !important; */
  /* font-family: Gilroy, "sans-serif" !important; */
  font-size: 28px !important;
  font-weight: 700 !important;
  line-height: 36.31px !important;
  text-align: justify;
}
.liveTextScnd {
  margin-top: 5% !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #00000078;
  font-family: "Inter" !important;
  text-align: justify;
}




                       /* 3/3  start*/



@media (max-width: 360px){        
  .liveTextScnd{
    font-size: 24px !important; 
  }
    .CradBox {
      flex-direction: column !important;
      padding: 30px !important;
  }
  .leftTextDesign{
    font-size: 24px !important;
    font-weight: 800 !important;
  }
  .leftDesign{
    padding-top: 62px !important;
  }
  .storeLogo{
    margin-top: 10% !important;
  }
  .phoneTextField {
    width: 66%;
    height: 20%;
    margin-top: 6% !important;
    color: black !important;
    border: 0.1px solid black !important;
  }
  /* .cardHome{
  width: 80% !important;
  height: 20% !important;
} */
.leftSubDesign{
  color: grey;
}
.catHeading{
  font-size: 3em !important;
}
/* .cardBox{
  margin-top: 6%;
} */
.rowDesign{
  /* margin-left: -12% !important; */
  /* width: 75%; */
  margin-top: 3%; 
}
.subCatHead{
font-size: 1.3em !important;
}
.subCatSubHead{
  font-size: 1.3em !important;
}
.highlight{ 
  /* this isn't working */
  font-size: 1.3em !important; 
}
.MuiInputBase-input-MuiOutlinedInput-input {
  color: #000 !important;
  font-size: 2rem !important;
}
}

                   /* 3/3 end  */


.liveScnd {
  width: 73%;
  text-align: left;
}
.liveImg {
  width: 236px;
  height: 237px;
  margin-top: -9%;
}
/* dot line */
.dotLineImg {
  width: 87%;
  height: 20%;
  margin-left: 20%;
}
.dotLine {
  width: 80%;
}
.NeetBox {
  margin-top: 20px;
}
.NeetImg {
  width: 100%;
}
@media (max-width: 1289px) {
  .leftTextDesign {
    font-size: 1em !important;
  }
  .leftSubDesign {
    font-size: 1.3em;
  }
  .leftDesign {
    width: 55%;
    height: 50%;
  }
  .cardHome {
    width: 71% !important;
    overflow: visible;
    height: 60%;
    display: flex;
    margin: auto;
    background-color: white;
    padding: 2%;
    padding-bottom: 6% !important;
    border-radius: 25px 25px 25px 25px;
    /* transform: translateY(-28%) !important; */
    flex-direction: row;
    box-shadow: 1px 1px 1px 1px #d3d3d3 !important;
  }
  .appImage {
    width: 30%;
    height: 49%;
  }
}
@media (max-width: 990px) {
  .CradBox{
    flex-direction: column !important;
    padding: 30px !important;
  }
} 
@media (max-width: 990px) {
  .PopularCourseBox{
    grid-template-columns: 1fr 1fr !important;
  }
  .PopularCardBox {
    padding: 10px 20px !important;
    width: 90%;
}
.Para1{
  font-weight: 700 !important;
  /* font-size: 126px !important; */
}
.Para2{
  font-weight: 400 !important;
  font-size: 1rem !important;
}
.HeadimgBox{
  margin-top: 9% !important;
}
  .leftSubDesign {
    font-size: 1em;
  }
  .leftTextDesign {
    font-size: 1.5em !important;
  }
  .leftDesign {
    width: 100%;
    height: 50%;
    margin-left: 12%;
  }
  .cardHome {
    width: 71% !important;
    overflow: visible;
    height: 60% !important;
    display: flex;
    margin: auto;
    background-color: white;
    padding: 2%;
    padding-bottom: 9% !important;
    border-radius: 25px 25px 25px 25px;
    flex-direction: row;
    box-shadow: 1px 1px 1px 1px #d3d3d3 !important;
  }
  .appImage {
    display: none;
  }
  .paddingDropdown {
    padding: 0px !important;
    font-size: 1.4rem !important;
    font-weight: 600 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-transform: none !important;
  }
}

@media (max-width: 484px) {
  .leftSubDesign {
    font-size: 2rem;
  }
  .MuiInputBase-input-MuiOutlinedInput-input{
    color: #000 !important;
    font-size: 2rem !important;
  }
  .analyticsCount {
    grid-template-columns: 1fr 1fr;
  }
  .calBox2 {
    margin-top: -34px;
  }
  .subCatBox {
    height: 59%;
  }

  .SubCategoryBox{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .cardHome {
    height: 70% !important;
    width: 84% !important;
    overflow: visible;
    display: flex;
    margin: auto;
    background-color: white;
    padding: 2%;
    border-radius: 25px 25px 25px 25px;
    flex-direction: row;
    box-shadow: 1px 1px 1px 1px #d3d3d3 !important;
  }
  .LoginButton {
    width: 326px !important;
    height: 57% !important;
    font-size: 1.7em !important;
  }

  .appImage {
    display: none;
  }
  .homeImage img {
    transform-style: preserve-3d;
    height: auto !important;
    width: 100%;
    margin-top: 13%;
  }

  .loginContainer {
    margin-right: 1%;
  }
  .liveBox {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 2%;
    width: 96%;
  }
  .liveScnd {
    width: 98%;
  }
  .liveText {
    font-size: 2.9rem !important;
    line-height: 49.31px !important;
  }
  .liveTextScnd {
    margin-top: 3% !important;
    font-size: 2.1rem !important;
    color: #000000a8;
}
.leftTextDesign {
  font-size: 2.2rem !important;
}
.carousel-item img {
  width: 92% !important;
  height: 35vh !important;
}

  .liveBoxrev {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 475px) {

  .MuiInputBase-input-MuiOutlinedInput-input {
    color: #000 !important;
    font-size: 2rem !important;
  }
  .leftDesign {
    width: 100%;
    height: 50%;
    margin-left: 2%;
  }
  .LoginButton {
    width: 326px !important;
    height: 57% !important;
    font-size: 1.7em !important;
  }
  .MenuButton{
    font-size: 2px !important;
    width: 10% !important;
  }
  .Hamburger{
    font-size: 2px !important;
  }
  .LoginButtononly{
  background-color: #002C4F !important;
  }
  .logo {
    width: 135px !important;
    height: 35px !important;
    top: 13px !important;
    left: 14px !important;
    margin-left: 0;
  }
  .loginContainer {
    margin-right: 1%;
    display: none;
  }
  .loginContainerony{
    display: block;
    margin-right: 10%;
  }
  .appImage {
    display: none;
  }
  .cardRight {
    display: none;
  }
 
}

@media screen and (max-width: 413px) {
  .LoginButton {
    width: 326px !important;
    height: 57% !important;
    font-size: 1.7em !important;
  }

 
  .loginContainer {
    margin-right: 1%;
  }
}
@media (max-width: 340px) {
  .LoginButton {
    width: 326px !important;
    height: 57% !important;
    font-size: 1.7em !important;
  }

 
  .loginContainer {
    margin-right: 1%;
  }
}
@media (max-width: 479px) {
  .appLogo {
    width: 40% !important;
    height: 20% !important;
  }
  .googleLogo{
    width: 40% !important;
    height: 20% !important;
  }
}
@media (max-width: 379px) {
  .appLogo {
    width: 40% !important;
    height: 20% !important;
  }

  .googleLogo {
    width: 40% !important;
    height: 20% !important; 
    margin-left: 3%;
  }
}

.breifesInHomePage{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  border-radius: 11px;
  display: flex;
  flex-direction: row;
  gap: 5% !important;
  width: 69vw;
    height: 19vh !important;
    align-items: center;
    justify-content: center;
    margin-left: 224px;
    margin-top: -9% !important;
    background-color: #ffffff !important;
    position: relative;
    z-index: 999;
}
.aboutExploreClasses {
  display: flex;
  flex-direction: row;
}
.exploreTechEnabledBox{
  background-color: lightblue !important;
  min-width: 100vw;
    margin-left: -42px;
    margin-top: 72px;
}
.exploreCTechategorySection{
  margin-top: -24%;
}
.excelInCriticalcareImg{
  width: 100% !important;
  height: 32%;
}
.verticalDivider{
  background-color: #c2c2c2 !important;
  width: 2px !important;
  height: 10vh !important;
}
.drNBCompleteBox{
  display: flex;
  flex-direction: row;
    border-radius: 12px;
    width: 27vw;
    height: 32vh;
    margin-top: 22px;
    box-shadow: 0 0 4px 0px #2125294a !important;

}
.drNBCompleteBox-left{
  margin:35px 27px;
  width: 70%;
  text-align: left !important;
}

.drNBSubSections{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.drNBTwoOptions{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-top: 4%;
}
.blueSemiCircle{
  width: 90px;
  height: 32vh;
  background-color: #002C4F;
  border-top-left-radius: 100px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 0;
  transform: rotate(360deg);
}
.blueSemiCircle-second{
  width: 116px;
  height: 34vh;
  background-color: #002C4F;
  border-top-left-radius: 100px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 0;
  transform: rotate(360deg);
  margin-top: -16px;
}
.semiCircleIcon{
  margin: 70px 0px;
}
.changedDrNBBoxes{
  border: 0.5px solid grey !important;
  border-radius: 18px;
  padding: 7px 0px;
  width: 8vw;
  font-size: 0.8rem;
  text-align: center ;
}
.changedDrNBBoxes-EDIC{
  border: 0.5px solid grey !important;
  border-radius: 18px;
  padding: 7px 0px;
  width: 6vw;
  font-size: 0.8rem;
}
.allExploreCatCards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 105px;
}

.powerOfMentorshipImg{
  width: 50vw !important;
  height: auto !important;
}
.headerSearchBar{
  position: sticky !important;
  border: 0.5px solid grey;
  border-radius: 15px !important;
  width: 22% !important;
  height: 10%;
  margin-left: 51px !important;
  font-size: var(--small) !important;
}

.appAdvertisement{
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  text-align: left !important;
  border-radius: 10px;
  background-color: #F1EFFF !important;
  margin: 5% 7%;
    gap: 14% !important;
}
.appAdvertisementHead{
  font-size: 0.9rem !important;
  font-weight: 600 !important;
  margin-top: 23px !important;
    margin-bottom: 12px !important;
}

.appLogo-mobAd{
  width: 31%;
  margin-right: 28px;
}
.mrlogo-mobAd{
  width: 31%;
}
.studyResource {
  font-size: 1.7em !important;
  font-weight: bolder !important;
}
.youtubeHead {
  font-size: 1.7em !important;
  font-weight: bolder !important;
}
.youtubeHeadMobileView{
  display: none;
}

.youtubeImages {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
  justify-content: center;
  text-align: center;
  margin: 30px 100px 100px 100px ;
}
.studyResourceImages-Img{
  width: 12vw;
  height: 22vh;
}
.studyMaterials{
  border-radius: 12px;
  background-color: #DAF2FF;
}
.studyMaterials h5{
  text-align: start;
  padding: 25px 26px;
    font-size: 1rem;
}
.debriefVideos{
  border-radius: 12px;
  background-color: #FFEFD2;
  height: 39vh;
  border-radius: 15px;
}
.debriefVideos h5{
  text-align: start;
  padding: 25px 26px;
    font-size: 1rem;
}
.freeeMockTests {
  border-radius: 12px;
  background-color: #D3FFEE;
  height: 39vh;
  border-radius: 15px;
}
.freeeMockTests h5{
  text-align: start;
  padding: 25px 26px;
    font-size: 1rem;
}
.youtubeImg1 {
  width: 21%;
  height: 28vh;
}
.youtubeImg2{
  width: 21%;
  height: 28vh;
}
.youtubeImg3{
  width: 21%;
  height: 28vh;
}
.youtubeCompleteSection{
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  margin-top: 23px;
  margin-bottom: 22px;
}
 .paraFontSize-forMobileView-common{ 
   font-weight: 600;
 }
 .CategoryImg{
  width: 22%;
 }
 .CategoryImg4{
  width: 29%;
 }


.scndImgOfHomePage{
  margin-top: 42px;
  width: 73vw;
}
.aboutExploreClasses-head{
  font-size: 2rem;
  margin-top: 10%;
}
.BuildingImg{
  width: 100%;
}
.transparentBlue{
  width: 100%;
  margin-top: -33%;
}

@media (max-width: 490px) {
  .homeImage img {
    /* height: 16vh !important; */
  }

  .studyMaterials h5{
    /* font-size: var(--subHeading) !important; */
    font-size: 1.1rem !important;
  }
  .debriefVideos{
    height: 15vh !important;
    width: 71vw !important;
  }
  .debriefVideos h5 {
    font-size: var(--subHeading) !important;
  }
  .freeeMockTests{
    height: 15vh !important;
    width: 71vw !important;
  }
  .freeeMockTests h5{
    /* font-size: 1.6rem !important; */
    font-size: var(--subHeading) !important;
  }
  .studyResourceImages-Img{
    width: 24vw !important;
    height: 10vh !important;
  }
  .ImgBoxData{
    grid-template-columns: 1fr 1fr !important;
    height: 19vh;
}
.studyResource {
  font-size: 1.3em !important;
  font-weight: bolder !important;
}
/* .centered {
  /* position: absolute;
  top: 100% !important;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* background-color: white !important;
  padding: 10px;
  text-align: center; */
/* } */
  .aboutExploreClasses-para{
    /* font-size: var(--subHeading) !important; */
  }
  .newsLetterImg{
    width: 100%;
    height: 27vh;
    margin-top: 33% !important;
  }
.changedDrNBBoxes{
  width: 30vw;
}
  .allExploreCatCards{
    grid-template-columns: 1fr !important;
    gap: 5px !important;
    margin: 2px;
  }
  .drNBCompleteBox{
    height: 22vh !important;
    width:  95vw !important;
  }
  .drNBCompleteBox-left{
    width: 100%;
    margin: 20px 10px;
  }
 .semiCircleIcon{
  margin: 43px 0;
 }
 .blueSemiCircle {
  width: 120px;
  height: 22vh;
}

  .youtubeImg1 {
    width: 21%;
    height: 11vh;
  }
  .youtubeImg2{
    display: none !important;
    width: 21%;
    height: 11vh;
  }
  .youtubeImg3{
    display: none !important;
    width: 21%;
    height: 30vh;
  }
  .secondHeading {
    font-size: 3rem !important;
  }
  .studentsSliderBoxes{
    display: flex;
    flex-direction: column !important;
    margin-left: 0px !important;
    justify-content: center;
    align-items: center !important;
  }

  .breifesInHomePage{
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    height: 26vh !important;
    margin-left: -3px !important;
        width: 100% !important;
  }
  .paraFontSize-forMobileView-common-text {
    /* font-weight: 600; */
    font-size: 0.8rem !important;
}
.paraFontSize-forMobileView-common {
  font-size: 0.9rem !important;
}
   .exploreTechEnabledBox {
    height: 19vh !important;
   }
   .aboutExploreClasses{
    /* WHOLE WIDTH FIXED 'COZ OF THIS  */
    width: 6% !important;
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        /* position: absolute !important; */
        /* z-index: 999 !important; */
   } 
   .TestimonialsLeftCard{
    height: 14vh !important;
   }

   .verticalDivider {
    display: none !important;
   }
   .excelInCriticalcareImg{
    display: none;
   }
   .catHeading {
    /* font-family: Inter !important; */
font-size: 20px !important;
font-weight: 700 !important;
line-height: 21.78px !important;
text-align: center;
 margin-top: 5% !important;
}
.appLogo-mobAd {
  height: 4vh;
  width: 33%;
  margin-right: 28px;
  margin-left: 56px;
}
.mrlogo-mobAd {
  height: 4vh !important;
  width: 31%;
  margin-left: 35px;
}

.scndImgOfHomePage{
  margin-top: 0px !important;
  width: 100% !important;
  height: auto;
}
.mobileViewText{
  display: block !important;
}
.OurfoundersCard{
  grid-template-columns: 1fr !important;
  padding: 15px 15px !important;
  gap: 10px;
}
.OurFoundersLeftCard{
  height: 35vh !important;
  margin: 0px 0px !important;
}
.abt360CriticalCare{
  margin: 0;
  padding: 0 8px;
}
.countryWiseStudent{
  /* font-size: 1.5rem !important;
  margin: 20px 2px !important; */
  font-family: Inter !important;
font-size: 23px !important;
font-weight: 700 !important;
line-height: 21.78px !important;
text-align: center !important;
margin: 24px 0px !important;
}
.countryWiseStuBox{
  min-width: 100% !important;
  /* width: 29% !important; */
  /* margin-top: 94px; */
  margin-top: -81px !important;
  /* margin: 50%; */
  padding: 85px !important;
}
/* .countryWiseStuBox ul li{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10%;
} */
/* .countries{
  width: 100% !important;
} */
.countryNames{
  margin: 0px 36px !important;
}
.whyChooseUsVerticalLine{
  display: none !important;
}
/* .mobileViewText{
  font-size: 1rem !important;
} */


}
@media (max-width: 990px) {
  /* .OurfoundersCard {
    justify-content: center !important;
    display: grid !important;
    align-items: center !important;
    text-align: center !important;
  } */
  .ourFoundersHorizontalLine {
    width: 92% !important;
  }
  /* .OurFoundersLeftCard {
   height: 18vh !important;
   width: 93% !important;
   border-radius: 27px !important;
} */
  /* .whyChooseUsSection {
    display: grid;
    grid-template-columns: 1fr !important;
  } */
  .aboutUsFirstImg {
    /* margin-top: 9% !important; */
    /* width: 100% !important; */
    display: none !important;
}
.stethoscopeImg{
  display: none !important;
}
.abt360CriticalCare{
  display: grid !important; 
  grid-template-columns: 1fr !important; 
  /* width: 100% !important; */
  margin: 39px !important;
}
.abt360CriticalCare-right{
  margin-top: 36px !important;
  margin-left: -29px !important;
  font-size: 1.5rem !important;
  text-align: center !important;
}
.abt360CriticalCare img {
  width: 412px !important;
  height: 184px !important;
  /* display: none !important; */
  /* margin-left: -47px; */
  /* margin-top: 19px; */
  margin: 19px -47px;
}
.PWSRedImg{
  display: block !important;
}
.percentageOfSuccess{
  height: 26vh !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10% !important;
  background-color: white !important;
  padding: 20px !important;
  text-align: center;
}
.css-r8b0qb {
      width: 40vw !important;
      height: 265px !important;
      border-radius: 23px !important;
  }
.css-i2a5r0{
  width: 40vw !important;
  height: 265px !important;
  border-radius: 23px !important;
}
.css-147sbqb{
  width: 40vw !important;
      height: 265px !important;
      border-radius: 23px !important;
}
.css-1r9j7yv{
  width: 40vw !important;
  height: 265px !important;
  border-radius: 23px !important;
}
.abt360CriticalCare-typography{
  /* font-size: var(--MainHeading) !important; */
  display: none !important;
}
.mobileViewText{
  /* font-size: var(--MainHeading) !important; */
}
/* .countryWiseStuBox {
  width: 100%;
  height: 0px !important;
  margin: 0px 35%;
  padding: 0px !important;
} */


.globally{
  width: 100%;
  height: 24vh;
}
.ourFounderHead {
  font-size: 2.8em !important;
}
.whyChooseUsHead{
  font-size: 2.8rem !important;
}

.whyChooseUsSection{
  display: grid !important;
  grid-template-columns: 1fr !important;
  gap: 0%; 
  /* height: 100vh !important; */
}
.css-1x1xx5k{
  min-width: 73vw !important;
}
.ourFounderAbout{
  font-size: var(--subHeading) !important;

}
.TestimonialsLeftCard p {
  font-size: var(--subHeading) !important;
}
}

@media (max-width: 490px) {
  /* .CategoryImg{
    width: 40%;
  }
  .paraFontSize-forMobileView-common{
    font-size: var(--subHeading) !important;
    font-size: 5rem !important;
    margin: 14px 55px !important;
    text-align: center;
    align-items: center;
        
  } */

}
/* @media (max-width: 500px)  {
   .categoryMainBox{
    background-color: red !important;
   }
}

.categoryMainBox{
  background-color: blue;
 } */


:root {
  --MainHeading:26px;
  --subHeading:24px;
  --ScndHeading:20px;
  --Heading:18px;
  --small:16px;
 }